<div>
  <!--キービジュアルここから--->
  <section id="kv">
    <div>
      <img class="pcimg" src="assets/pct11.jpg" alt="月額500円で毎日無料ドリンクが注文できる">
      <h1><a href="/"><img id="logoo" src="../assets/pct09.png" alt="Meets Cafe Ticket"></a></h1>
    </div>
  </section>
  <!-----キービジュアルここまで----->

  <!-----セクション１ここから----->
  <section id="section1">
    <div>
      <img class="pcimg" src="assets/pct12.jpg" alt="Meets Cafe Ticket ってどんなサービス？">
    </div>
  </section>
  <!-----セクション１ここまで----->

  <!-----セクション２ここから----->
  <section id="section2">
    <div>
      <img class="pcimg" src="assets/pct13.png" alt="サービスご利用までの流れ">
      <a href="../users/sign_up"><p>会員登録はコチラ <span> >></span></p></a>
    </div>
  </section>
  <!-----セクション２ここまで----->

  <!-----セクション３ここから----->
  <section id="section3">
    <div>
      <img class="pcimg" src="assets/pct14.jpg" alt="普段のカフェ代をもっとお得にしませんか？">
    </div>
  </section>
  <!-----セクション３ここまで----->

  <!-----セクション４ここから----->
  <section id="section4">
    <div>
      <img class="pcimg" src="assets/pct15.jpg" alt="加盟店増加中">
      <a href="../shops"><p>対象店舗はこちら  <span> ></span></p></a>
    </div>
  </section>
  <!-----セクション４ここまで----->

  <!-----セクション５ここから----->
  <section id="section5">
    <div>
      <img class="pcimg" src="assets/pct16.jpg" alt="新規入会キャンペーン実施中">
      <a href="../users/sign_up"><p>新規ご入会はこちら<span> >></span></p></a>
    </div>
  </section>
  <!-----セクション５ここまで----->
</div>