/*----------
  header
---------*/

#logo{
  width: 290px;
  margin: 0 auto 0 42%;
}

#logo img{
  height: 100px;
  margin: 0 auto;
  padding-top: 22px;
}

#login{
  display: flex;
}

#login p a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#login p a{
  background-color: #5B3E24;
  color: #fff;
  padding: 5px 10px 5px 10px;
  display: block;
  margin-right: 30px;
  margin-top: 65px;
  font-size: 1.6rem;
  width: 88px;
  text-align: center;
}

#sss p a{
  background-color: #5B3E24;
  color: #fff;
  padding: 5px 10px 5px 10px;
  display: block;
  margin-right: 30px;
  margin-top: 65px;
  font-size: 1.6rem;
  width: 22px;
  text-align: center;
}


#logo-wrappper{
  display: flex;
  border-top: solid 11px #5B3E24;
}

header nav ul li{
  padding: 5px 75px;
  border-left: solid 1px #B77B7B;
}

header nav ul:last-of-type{
  border-right: solid 1px #B77B7B;
}

header nav ul{
  display: flex;
  margin: 0 auto;
  width: 1185px;
}

#nav{
  padding: 15px 0 10px 0;
  border-top: solid 1px #B77B7B;
  border-bottom: solid 1px #B77B7B;
  margin-top: -10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.20);
}

#nav a:hover{
  color: #B77B7B;
  transition: 0.5s;
}


.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}

.btn_trigger,.nav-wrapper,#menu{
  display: none;
}