    <footer>
      <div>
        <%= link_to image_tag("pct1.png", class:"meetcafe-icon"), "/" %>
      </div>
      <div id="footer-nav">
        <ul>
          <li><a href="#"><span>会員利用規約</span></a></li>
          <li><a href="#">加盟店利用規約</a></li>
          <li><a href="#"><span>会社概要</span></a></li>
          <li><a href="#">お問合せ</a></li>
        </ul>
        <small>&copy;Meets Cafe Ticket</small>
      </div>
    </footer>