/*----------
  Base
---------*/
html{
  scroll-behavior: smooth;
  font-size: 62.5%;

}

body{
  color: #555555;
  font-family: 'Hiragino Kaku Gothic Pro',sans-serif;
  font-style: normal;
  font-size:1.6rem;
  width: 100vw;
  letter-spacing: 0.1rem;
  margin: 0 auto;
}

a {
  color: #555555;
}



/*----------
  pl
---------*/
#bgi{
  background-color: #D8E0DC;
  height: 70px;
  position: relative;
  background-image: url("/assets/pct53.png");
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: 50% 50%;
}

#bgi ul{
  display: flex;
  margin-left: 120px;
  position: absolute;
  top: 23px;
}

#bgi ul li{
  margin-right: 20px;
}

#bgi ul li:first-child{
  text-decoration: underline;
}



/*----------
  stores
---------*/
#serch {
  display: none;
}

#wrapper{
  margin: 0 auto;
  width: 1205px;
  display: flex;
  justify-content: space-between;
}

.store-pct img{
  width: 300px;
  height: 200px;
}

.store-list{
  display: flex;
  margin-top: 60px;
  width: 937px;
}

.store-name{
  display: flex;
}

h2{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 a:hover{
  opacity: 0.7;
  transition: 0.8s;
}

.store-name p{
  line-height: 30px;
  margin-left: 40px;
  display: inline-block;
  background-color: #C8D0CC;
  padding: 0px 8px;
  height: 30px;
  font-weight: bold;
}

.store-name p:hover{
  opacity: 0.7;
  transition: 0.7s;
}

.adress{
  font-weight: bold;
  margin-bottom: 10px;
}

.adress ul{
  display: flex;
}

.adress ul li{
  margin-right: 40px;
}

h3{
  background-image: url("/assets/pct39.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding: 2px 7px 2px 23px;
  background-color: #D8E0DC;
  color: #5B3E24;
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
}

.menu{
  border: solid 3px #D8E0DC;
  font-size: 1.4rem;
  width: 590px;
  height: 94px;
}

.menu ul{
  list-style: disc;
  padding-left: 35px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.menu ul li{
margin-right: 34px;
margin-top: 5px;
}

.information{
  margin-left: 40px;
}

#side{
  width: 196px;
  margin-top: 60px;
}

#area{
border: solid 3px #CFAF9D;
}

#sorting{
  border: solid 3px rgba(207, 175, 157, 0.4);
  margin-top: 30px;
}

h4{
  margin: 30px 0 10px 30px;
  border-left: solid 5px #C4C4C4;
  height: 20px;
  padding-left: 5px;
  line-height: 20px;
}

#area ul,#sorting ul{
  margin-left: 40px;
  padding-bottom: 30px;
}



/*----------
  page
---------*/
#page{
  border-bottom: solid 11px #5B3E24;
}

#page ul{
  display: flex;
  margin: 60px auto;
  width: 225px;
  text-align: center;
}

#page ul li{
  border: solid 2px #D8E0DC;
  padding: 2px 5px;
  font-size: 1.4rem;
  margin-right: 10px;
}

.here{
  background-color: #D8E0DC;
  color: #fff;
}

#between{
  border: hidden;
  margin-right: 10px;
}

#page ul li:hover{
  color: #fff;
  background-color: #D8E0DC;
  transition: 0.8s;
}

.shop-img {
  width: 33vh;
  height: 28vh;
}

