.mono{
  width: 500px;
}


.all {
  display: flex;
  justify-content: center;
  background-color: #D8E0DC;
}


/*----------
  form
---------*/
#wwrapper{
  width: 500px;
  margin: 30px auto 0 auto;
}



#name,#email{
  width: 100%;
  height: 40px;
  border: solid 3px #C4C4C4;
}

#name{
  margin-bottom: 10px;
}

#submit{
  width: 100px;
  margin: 0 auto;
}

#submit input{
  width: 100px;
  height: 40px;
  letter-spacing: 0.5rem;
  border: solid 5px #B8B8B8;
  margin: 30px auto 60px auto;
}

#fb p{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #846A52;
  border: solid 3px #C4C4C4;
  letter-spacing: 0.2rem;
  padding: 8px 0;
  background-image: url(../images/pct36.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 140px 8px;
  margin-bottom: 10px;
}

#gg p{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #846A52;
  border: solid 3px #C4C4C4;
  letter-spacing: 0.2rem;
  padding: 8px 0;
  background-image: url(../images/pct37.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 157px 10px;
  margin-bottom: 10px;
}

#tw p{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #846A52;
  border: solid 3px #C4C4C4;
  letter-spacing: 0.2rem;
  padding: 8px 0;
  background-image: url(../images/pct38.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 157px 10px;
  margin-bottom: 30px;
}

#fb p:hover,#gg p:hover,#tw p:hover{
  opacity: 0.8;
  transition: 0.7s;
}

#privacy{
  text-align: center;
  font-size: 1.4rem;
}

#privacy a{
  font-weight: bold;
  color: #158F97;
  text-decoration: underline;
}



#sign-up p{
  width: 180px;
  padding: 5px;
  margin: 0 auto;
  border: solid 5px #D7B9AD;
  text-align: center;
  background-color: #fff;
  margin-top: 40px;
}





.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;

}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}



.select-box {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.register-red-btn {
  cursor: pointer;
}

.kochira {
  padding: 20px;
  font-size: 20px;
  background-color: #dda3a367;
  text-align: center;
}

.AccountPage__title {
  text-align: center;
  font-size: 18px;
}

.niji{
  text-align: center;
}

.rink{
  margin: 30px;
  text-align: center;
}